# Виртуальное окружение
venv/
.venv/

# Файлы, генерируемые Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Логи и временные файлы
*.log
.DS_Store # Mac OS

# Секреты и данные, которые не должны быть в Git
.env 
.env.*